{% extends 'arcadia/menu.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}{{ course.name }}{% endblock %}</h1>
                <h3>Выберите тему</h3>
                {% if object_list %}
                <div class="list-group mb-2">
                    {% for object in object_list %}
                    <div class="list-group-item clearfix">
                        <span class="float-left">
                            <a href="{% url 'topic_view' object.id %}">{{ object.code }}. {{ object.name }}</a>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>Нет тем доступных для отображения</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}