{% extends 'arcadia/menu.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" id="output"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'arcadia/js/showdown.min.js' %}"></script>
<script>
    $(function() {
        var converter = new showdown.Converter();
        var output = document.getElementById('output');
        output.innerHTML = converter.makeHtml(`{{ topic.text }}`);
    });
</script>
{% endblock %}