{% extends 'arcadia/menu.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}Выберите учебный курс{% endblock %}</h1>

                {% if object_list %}
                <div class="list-group mb-2">
                    {% for object in object_list %}
                    <div class="list-group-item clearfix">
                        <span class="float-left">
                            <a href="{% url 'course_topic_list' object.id %}">{{ object }}</a>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>Нет учебных курсов доступных для отображения</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}