{% extends "arcadia/page.html" %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if request.resolver_match.view_name == 'index' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            {{ user }}
                        </a>
                        <div class="dropdown-menu">
                            {% if user.is_staff %}
                            <a class="dropdown-item" href="/admin/">
                                Администрирование
                            </a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt"></i> Выйти
                            </a>
                        </div>
                        {% else %}
                        <a href="{% url 'login' %}">Войти</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{% endblock %}