{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'arcadia/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'arcadia/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'arcadia/css/fontawesome-all.min.css' %}">
</head>
<body>
{% block body %}{% endblock %}
</body>
<script src="{% static 'arcadia/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'arcadia/js/popper.min.js' %}"></script>
<script src="{% static 'arcadia/js/bootstrap.min.js' %}"></script>
<script src="{% static 'arcadia/js/custom.js' %}"></script>
{% block scripts %}{% endblock %}
</html>